<%- include('layout/header')%>
<div class = "frameEditGDForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="container mt-5 d-flex justify-content-center">Update Garden Designer (<%= adminGd.Name %>)</h3>
                <form action="/updateAdminGD/<%= adminGd._id %>" method="post" id="ädd-form"
                    enctype="multipart/form-data">
                    <div class="form-group row mt-3">
                        <label for="ProfilePic" class="col-sm-2 col-form-label"> Profile picture</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="ProfilePic" placeholder="Select Image">
                            <img src="/<%= adminGd.ProfilePic %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_ProfilePic"
                                value="<%= adminGd.ProfilePic %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Name" class="col-sm-2 col-form-label"> Garden Designer's Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Name" placeholder="Name"
                                value="<%= adminGd.Name %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="Email" placeholder="Email"
                                value="<%= adminGd.Email %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Phone" class="col-sm-2 col-form-label">Mobile Number</label>
                        <div class="col-sm-8">
                            <input type="mobile" class="form-control" name="Phone" placeholder="mobile"
                                value="<%= adminGd.Phone %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Qualifications" class="col-sm-2 col-form-label"> Qualifications</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Qualifications" placeholder="Qualifications"
                                value="<%= adminGd.Qualifications %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="FirstProjectPic" class="col-sm-2 col-form-label">Project 01 Image</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="FirstProjectPic" placeholder="Select Image">
                            <img src="/<%= adminGd.FirstProjectPic %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_FirstProjectPic"
                                value="<%= adminGd.FirstProjectPic %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="FirstProjectDesc" class="col-sm-2 col-form-label">Project 01 Description </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="FirstProjectDesc" placeholder="First Project Description"  value="<%= adminGd.FirstProjectDesc %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="SecondProjectPic" class="col-sm-2 col-form-label">Project 02 Image</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="SecondProjectPic" placeholder="Select Image">
                                <img src="/<%= adminGd.SecondProjectPic %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_SecondProjectPic"
                                value="<%= adminGd.SecondProjectPic %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="SecondProjectDesc" class="col-sm-2 col-form-label">Project 02 Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="SecondProjectDesc" placeholder="Second Project Description"  value="<%= adminGd.SecondProjectDesc %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="ThirdProjectPic" class="col-sm-2 col-form-label">Project 03 Image</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="ThirdProjectPic" placeholder="Select Image">
                            <img src="/<%= adminGd.ThirdProjectPic %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_ThirdProjectPic"
                                value="<%= adminGd.ThirdProjectPic %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="ThirdProjectDesc" class="col-sm-2 col-form-label">Project 03 Description</label>
                        <div class="col-sm-8">
                        <input type="text" class="form-control"  name="ThirdProjectDesc" placeholder="Third Project Description"  value="<%= adminGd.ThirdProjectDesc %>">
                        </div>
                    </div>
                   <center> <input type="submit" name="submit" value="Update Garden Designer" class="btn btn-success" /></center>
                </form>
            </div>
        </div>
    </div>
</div>

    <%- include('layout/footer')%>