<%- include('layout/header')%>
<div class = "Edit_IntiriorDesignerForm ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="container mt-5 d-flex justify-content-center">Update Interior Designer (<%= intiriorDesigner.Name %>)</h3>
                <form action="/updateIntiriorDesigner/<%= intiriorDesigner._id %>" method="post" id="ädd-form"
                    enctype="multipart/form-data">
                    <div class="form-group row mt-3">
                        <label for="ProfilePicture" class="col-sm-2 col-form-label"> Profile Picture</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="ProfilePicture" placeholder="Select Image">
                            <img src="/<%= intiriorDesigner.ProfilePicture %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_ProfilePicture"
                                value="<%= intiriorDesigner.ProfilePicture %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Name" class="col-sm-2 col-form-label"> Interior Designer's Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Name" placeholder="Name"
                                value="<%= intiriorDesigner.Name %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="Email" placeholder="Email"
                                value="<%= intiriorDesigner.Email %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Phone" class="col-sm-2 col-form-label">Mobile Number</label>
                        <div class="col-sm-8">
                            <input type="mobile" class="form-control" name="Phone" placeholder="mobile"
                                value="<%= intiriorDesigner.Phone %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="Qualifications" class="col-sm-2 col-form-label"> Qualifications</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="Qualifications" placeholder="Qualifications"
                                value="<%= intiriorDesigner.Qualifications %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="FirstProjectPicture" class="col-sm-2 col-form-label">Project 01 Image</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="FirstProjectPicture" placeholder="Select Image">
                            <img src="/<%= intiriorDesigner.FirstProjectPicture %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_FirstProjectPicture"
                                value="<%= intiriorDesigner.FirstProjectPicture %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="FirstProjectDiscrip" class="col-sm-2 col-form-label">Project 01 Description </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="FirstProjectDiscrip" placeholder="First Project Description"  value="<%= intiriorDesigner.FirstProjectDiscrip %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="SecondProjectPicture" class="col-sm-2 col-form-label">Project 02 Image</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="SecondProjectPicture" placeholder="Select Image">
                                <img src="/<%= intiriorDesigner.SecondProjectPicture %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_SecondProjectPicture"
                                value="<%= intiriorDesigner.SecondProjectPicture %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="SecondProjectDiscrip" class="col-sm-2 col-form-label">Project 02 Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  name="SecondProjectDiscrip" placeholder="Second Project Description"  value="<%= intiriorDesigner.SecondProjectDiscrip %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="ThirdProjectPicture" class="col-sm-2 col-form-label">Project 03 Image</label>
                        <div class="col-sm-8">
                            <input type="file" class="form-control" name="ThirdProjectPicture" placeholder="Select Image">
                            <img src="/<%= intiriorDesigner.ThirdProjectPicture %>" width="100" class="thumbnail mt-1" />
                            <input type="hidden" class="form-control" name="old_ThirdProjectPicture"
                                value="<%= intiriorDesigner.ThirdProjectPicture %>">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="ThirdProjectDiscrip" class="col-sm-2 col-form-label">Project 03 Description</label>
                        <div class="col-sm-8">
                        <input type="text" class="form-control"  name="ThirdProjectDiscrip" placeholder="Third Project Description"  value="<%= intiriorDesigner.ThirdProjectDiscrip %>">
                        </div>
                    </div>
                   <center> <input type="submit" name="submit" value="Update Intirior Designer" class="btn btn-success" /></center>
                </form>
            </div>
        </div>
    </div>
</div>

    <%- include('layout/footer')%>